<f:layout name="Default"/>
<f:section name="Main">

    <div class="container">
        <div class="row">
          <div class="col-md-3 subnav-wrap">
            
            <div id="navLeft" class="col-md-12">
              <f:render partial="Navigation/Subnavigation" arguments="{_all}" />
            </div>
            
            <div id="contenuLeft" class="col-md-12">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid:'{data.uid}', colPos: '1'}"/>
            </div>
          </div>
            
          <main class="col-md-6" role="main">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
          </main>
            
          <div class="col-md-3 subcontent-wrap">
            
            <div id="RechercheD" class="col-md-12">
				<f:cObject typoscriptObjectPath="lib.search"/>

            </div>
            
            <div id="AgendaD" class="col-md-12">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '31'}"/>
            </div>
            
            <div id="NewsImgD" class="col-md-12">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '32'}"/>
            </div>
            
            <div id="LiensD" class="col-md-12">
              <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '33'}"/>
            </div>
            
          </div>
        </div>
    </div>

</f:section>
