<footer class="wrapper">
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <f:render partial="Navigation/Footer" arguments="{_all}"/>
            </div>
        </div>
    </div>
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '11'}"/>
            </div>
        </div>
    </div>
</section>

<section class="meta-section">
    <div class="container">
        <div class="row">
            <f:if condition="{themeCopyright}">
                <div class="col-md-12 copyright">
                    <f:format.html>{themeCopyrightText}</f:format.html>
                </div>
            </f:if>
        </div>
    </div>
</section>
</footer>
